In [1]:
import numpy as np
import pandas as pd

s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -1.737263
b   -0.435199
c   -1.395347
d   -0.270895
e   -1.080929
dtype: float64

In [2]:
data = {
    'Country': ['Belgium',  'India',  'Brazil'],
    'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
    'Population': [11190846, 1303171035, 207847528]
}

df = pd.DataFrame(data, columns=['Country',  'Capital',  'Population'])

df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [7]:
import numpy as np
import pandas as pd

data = {
    'Country': ['Belgium',  'India',  'Brazil'],
    'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
    'Population': [11190846, 1303171035, 207847528]
}

df = pd.DataFrame(data, columns=['Country',  'Capital',  'Population'])

# Seleção por posição
print(df.iloc[[0],[0]])
print("\n")

# Seleção por rótulo
print(df.loc[[0], ['Country']])
print("\n")

# Rótulo/Posição
df
print("\n")
print(df.loc[2])

print("\n")
print(df.loc[:, 'Capital'])

print("\n")
print(df.loc[2, 'Capital'])

   Country
0  Belgium


   Country
0  Belgium




Country          Brazil
Capital        Brasilia
Population    207847528
Name: 2, dtype: object


0     Brussels
1    New Delhi
2     Brasilia
Name: Capital, dtype: object


Brasilia

In [18]:

import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(5, 3), index=['A', 'C', 'E', 'F', 'H'], 
                  columns=['one', 'two', 'three'])

print(df)
print("\n\n")

df['four'] = 'bar' # Cria uma nova coluna (four) e adiciona valores constantes (bar)

print(df)
print("\n\n")

df['five'] = df['one'] > 0 # Cria uma nova coluna (five) e adiciona true se a coluna 1 for maior que zero

print(df)
print("\n\n")

# Reindexa o data frame para simularmos os missing datas
# Ele adicionou as linhas ausentes: B, D e G; e preencheu
# com dados auentes (NaN)
df2 = df.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])
print(df2)
print("\n\n")

# Avalia o data frame e coloca True no local dos dados ausentes

df2
pd.isna(df2)
print(df2.isna())
print("\n\n")


# É possível fazer o teste especificando colunas
df2['one']
print(pd.isna(df2['one']))
print("\n\n")
print(df2['four'].notna())
print("\n\n")

        one       two     three
A  0.272219 -2.346009 -0.416064
C  0.847329  0.905503 -0.584125
E  1.019561 -0.180191  0.879458
F -0.702050 -0.241096  0.603568
H -0.437838  0.411964 -0.019180



        one       two     three four
A  0.272219 -2.346009 -0.416064  bar
C  0.847329  0.905503 -0.584125  bar
E  1.019561 -0.180191  0.879458  bar
F -0.702050 -0.241096  0.603568  bar
H -0.437838  0.411964 -0.019180  bar



        one       two     three four   five
A  0.272219 -2.346009 -0.416064  bar   True
C  0.847329  0.905503 -0.584125  bar   True
E  1.019561 -0.180191  0.879458  bar   True
F -0.702050 -0.241096  0.603568  bar  False
H -0.437838  0.411964 -0.019180  bar  False



        one       two     three four   five
A  0.272219 -2.346009 -0.416064  bar   True
B       NaN       NaN       NaN  NaN    NaN
C  0.847329  0.905503 -0.584125  bar   True
D       NaN       NaN       NaN  NaN    NaN
E  1.019561 -0.180191  0.879458  bar   True
F -0.702050 -0.241096  0.603568  bar  False
G       NaN       NaN       NaN  NaN    NaN
H -0.437838  0.411964 -0.019180  bar  False



     one    two  three   four   five
A  False  False  False  False  False
B   True   True   True   True   True
C  False  False  False  False  False
D   True   True   True   True   True
E  False  False  False  False  False
F  False  False  False  False  False
G   True   True   True   True   True
H  False  False  False  False  False



A    False
B     True
C    False
D     True
E    False
F    False
G     True
H    False
Name: one, dtype: bool



A     True
B    False
C     True
D    False
E     True
F     True
G    False
H     True
Name: four, dtype: bool

In [52]:
# Dataset: tack Overflow Annual Developer Survey - 2018
import numpy as np
import pandas as pd

# 1. Carregue o dataset para análise, disponível na pasta data, usando as funções de leitura do Pandas.

data = pd.read_csv("Desktop\Projeto - Pandas\Dados\survey_results_public.csv", dtype=object)

# 2. Obtenha informações do Data Frame carregado em memória

print(data.info())

# 3. Selecione todas as linhas com país igual a Brasil

dados_brasil = data.loc[data['Country'] == 'Brazil']


# 4. Os dados do brasil possui dados ausentes (missing data)? Se sim, selecione todas as linhas
# que contenham algum dado ausente

dados_brasil_nulos = dados_brasil[dados_brasil.isnull().any(axis=1)]
dados_brasil_nulos 

# 5. Qual o total de valores ausentes para cada coluna?

#print(dados_brasil.isnull().sum())

# 6. Remova linhas com pelo menos 1 elemento ausente das colunas: 'FormalEducation', 'UndergradMajor', 'Age'.

dados_brasil_limpos = dados_brasil.dropna(subset=['FormalEducation', 'UndergradMajor', 'Age'])

# 7. Crie um subconjunto de dados com as colunas: 
# Respondent, Country, Student, Employment, FormalEducation, UndergradMajor, Exercise, Age

dados_analise = dados_brasil_limpos.filter(['Respondent', 'Country', 'Student', 'Employment', 'FormalEducation', 'UndergradMajor', 'Exercise', 'Age'])
print(dados_analise.info())

# 8. Exiba as contagens de frequência dos valores únicos das colunas: Student, Exercise, Employment, FormalEducation, UndergradMajor, Exercise e Age

students_frequencia = dados_analise ['Student'].value_counts();
print("\nSTUDENTS\n", students_frequencia)
print(dados_analise['Student'].describe())

exercise_frequencia = dados_analise ['Exercise'].value_counts();
print("\nEXERCISE\n",exercise_frequencia)
print(dados_analise['Exercise'].describe())

employment_frequencia = dados_analise ['Employment'].value_counts();
print("\nEMPLOYMENT\n",employment_frequencia)
print(dados_analise['Employment'].describe())

formalEducation_frequencia = dados_analise ['FormalEducation'].value_counts();
print("\nFORMAL EDUCATION\n",formalEducation_frequencia)
print(dados_analise['FormalEducation'].describe())

undergradMajor_frequencia = dados_analise ['UndergradMajor'].value_counts();
print("\nUNDERGRAD MAJOR\n",undergradMajor_frequencia)
print(dados_analise['UndergradMajor'].describe())

age_frequencia = dados_analise ['Age'].value_counts();
print("\nAGE\n",age_frequencia)
print(dados_analise['Age'].describe())
print(age_frequencia.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98855 entries, 0 to 98854
Columns: 129 entries, Respondent to SurveyEasy
dtypes: object(129)
memory usage: 97.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1312 entries, 97 to 90361
Data columns (total 8 columns):
Respondent         1312 non-null object
Country            1312 non-null object
Student            1296 non-null object
Employment         1307 non-null object
FormalEducation    1312 non-null object
UndergradMajor     1312 non-null object
Exercise           1307 non-null object
Age                1312 non-null object
dtypes: object(8)
memory usage: 92.2+ KB
None

STUDENTS
 No                915
Yes, part-time    257
Yes, full-time    124
Name: Student, dtype: int64
count     1296
unique       3
top         No
freq       915
Name: Student, dtype: object

EXERCISE
 I don't typically exercise    570
1 - 2 times per week          306
3 - 4 times per week          274
Daily or almost every day     157
Name: Exercise, dtype: int64
count                           1307
unique                             4
top       I don't typically exercise
freq                             570
Name: Exercise, dtype: object

EMPLOYMENT
 Employed full-time                                      994
Independent contractor, freelancer, or self-employed    165
Employed part-time                                       75
Not employed, but looking for work                       61
Not employed, and not looking for work                   12
Name: Employment, dtype: int64
count                   1307
unique                     5
top       Employed full-time
freq                     994
Name: Employment, dtype: object

FORMAL EDUCATION
 Bachelor’s degree (BA, BS, B.Eng., etc.)                  734
Some college/university study without earning a degree    275
Master’s degree (MA, MS, M.Eng., MBA, etc.)               189
Associate degree                                           52
Professional degree (JD, MD, etc.)                         41
Other doctoral degree (Ph.D, Ed.D., etc.)                  21
Name: FormalEducation, dtype: int64
count                                         1312
unique                                           6
top       Bachelor’s degree (BA, BS, B.Eng., etc.)
freq                                           734
Name: FormalEducation, dtype: object

UNDERGRAD MAJOR
 Computer science, computer engineering, or software engineering          739
Information systems, information technology, or system administration    304
Another engineering discipline (ex. civil, electrical, mechanical)        87
Web development or web design                                             69
A business discipline (ex. accounting, finance, marketing)                29
Mathematics or statistics                                                 22
A natural science (ex. biology, chemistry, physics)                       17
A humanities discipline (ex. literature, history, philosophy)             13
A social science (ex. anthropology, psychology, political science)        12
Fine arts or performing arts (ex. graphic design, music, studio art)      12
I never declared a major                                                   4
A health science (ex. nursing, pharmacy, radiology)                        4
Name: UndergradMajor, dtype: int64
count                                                  1312
unique                                                   12
top       Computer science, computer engineering, or sof...
freq                                                    739
Name: UndergradMajor, dtype: object

AGE
 25 - 34 years old     722
18 - 24 years old     317
35 - 44 years old     217
45 - 54 years old      39
55 - 64 years old      14
Under 18 years old      3
Name: Age, dtype: int64
count                  1312
unique                    6
top       25 - 34 years old
freq                    722
Name: Age, dtype: object
count      6.000000
mean     218.666667
std      277.018892
min        3.000000
25%       20.250000
50%      128.000000
75%      292.000000
max      722.000000
Name: Age, dtype: float64